body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(226, 232, 240, 255);
    max-height: 100vh;


}

.container {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 5fr;
    height: 100vh;
}

.sidebar {
    background-color: aqua;
}


.main {
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px 20px;
    padding-bottom: 50px;
    margin-top: 10px;
}

.card {
    background-color: white;
    max-width: 350px;
    padding: 10px;
    border-radius: 5px;
    border-left: 10px solid rgba(25, 146, 212, 10);

}


.cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    gap: 20px 20px;


}

.imgs {
    max-width: 24px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

}

.imgs:hover {
    transform: scale(1.2);
}


.read {
    background-color: green;
    color: white;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
}

.noread {
    background-color: red;
    color: white;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
}

.read:active {
    background-color: green;
    box-shadow: 0 2px #666;
    transform: translateX(1px);
}

.noread:active {
    background-color: red;
    box-shadow: 0 2px #666;
    transform: translateX(1px);
}