@font-face {
    font-family: CustomFont;
    src: url('Norse-Bold.otf');
}




.heroandtext{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    max-width: 40vw;
    opacity: 0.6;
    margin-top: 20vh;
    height: 20vh;
  
    
}

.heroimg{
    max-width: 100px
}


.odin{
    font-family: CustomFont;
    font-size: 100px;
    color: white;
    
}

.main{
    display: flex;
    width: 100vw;
    height:100vh;
}

.form1{
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 0 5px 5px 0;
    width: 60vw;
    background-color: white;
    max-height: 100vh;
}

body{
    margin:0;
    padding: 0px;
    
}

.leftside{
    background-image: url("/image.jpg");
    background-size: 40vw 100vh;
    background-repeat: no-repeat;
    width: 40vw;
}

.texts{
   
    background-color: whitesmoke;
    margin-top: 0;
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 45px;
}

.submit{
    background-color: #596D48;
    color: white;
    height: 40px;
    width:200px;
    border-radius: 8px;
    font-size: 18px;
   
   
}

.creditsdiv{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0%;
    left: 13%;
    
}

.credits{
    color: white;
    font-size: 14px;
}

a:visited{
    color: white;
}

a:link{
    color: white;
}

input{
    border-radius: 5px;
}





